* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url('https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  
}
h1 {
  color: white !important;
}
.container {
  text-align: center;
  flex-direction: column;
  margin: 20px;
  margin-bottom: 120px;
}
.navbar {
  background-color: whitesmoke;
  color: white;
}
.logo {
  margin-left: 15px;
  font-size: 30px;
}
.nav-link {
  margin-left: 20px;
}
.navbar-toggler {
  margin-right: 10px;
}
.sign-in {
  margin-left: 100px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 20px;
}
.card {
  margin: auto;
  height: 300px;
}
.card-body {
  margin-top: auto;
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: whitesmoke;
  position: fixed; 
  bottom: 0;
  left: 0;
}

@media (max-width: 760px) {
  .nav-link {
    margin: auto;
  }
}